.container {
  position: relative;
  background-color: var(--border-color);


  .switch {
    position: absolute;
    top: 0.4rem;
    right: 2rem;
  }
}

.main {
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;

  section {
    font-size: 2rem;
    position: relative;
    color: var(--text-primary);
    font-weight: bold;
  }

  .introduction {
    & > p {
      font-size: 4rem;
      text-wrap: nowrap;
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: textclip 2s linear infinite;
      animation: textclip 2s linear infinite;
      background-image: linear-gradient(to left, #6a1b74, #68107a 10%, #ff1361 67%, #f700ff);
      background-size: 200% auto;
    }
  }

  .description {
    p {
      margin-top: 1rem;
      font-family: 'IBM Plex Mono', 'Montserrat Variable', Georgia, 'Times New Roman', Times, serif;

      span {
        font-family: inherit;
      }
    }

    & > p {
      font-size: 1rem;
    }

    p + p {
      font-size: 1rem;
    }
  }

  .navigation {
    transform: translate(5rem, 8rem);
    font-size: 1rem;
    position: absolute;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    height: 100%;
    
    &.no-scroll {
      overflow: hidden;
    }
  }
}

@keyframes textclip {
  100% { 
    background-position: 200%;
  }
}

@media screen and (max-width: 834px) {
  .container {
    .switch {
      z-index: 1;
    }

  }

  .main-wrapper {
    background-color: var(--background-primary);
  }

  .main {
    grid-template-columns: 1fr;
    border: none;
    margin: 0;
    padding: 2rem;

    .content {
      gap: 4rem;
    }

    .navigation {
      display: none;
    }

    section:nth-child(1) {
      margin-bottom: 8rem;
    }
  }
}

@media screen and (min-width: 835px) {
  .main-wrapper {
    margin: 2rem;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    border-radius: 0 2rem 0 2rem;
    background-color: var(--background-primary);
  }

  .container {
    height: 100vh;
    overflow: hidden;
    
    .main {
      height: calc(100vh - 4rem);
    }

    .content {
      overflow: hidden;
      
      &.no-scroll {
        overflow: hidden;
      }
    }
  }
}