:root {
  --nav-bg: #fcf3f6;
  --nav-circle: #1A1A1F; 

  --text-primary: #18181A;
  --text-logo-primary: #D81E5B;

  --switch-bg: #D81E5B;
  --switch-gradient-bg: linear-gradient(90deg, #D81E5B 2.77%, #d077d3 42.12%, #D81E5B) padding-box;
  --switch-circle: #FFFFFF;

  --border-color: #D81E5B;

  --background-primary: #d6c8cc;
  --cursor-background: radial-gradient(circle closest-side, #d49aad, transparent 80%);
}

.dark-mode {
  --nav-bg: #1A1A1F;
  --nav-circle: #D81E5B; 

  --text-primary: #FFFFFF;
  --text-logo-primary: #D81E5B;

  --switch-bg: #505055;
  --switch-circle: #1A1A1F;

  --border-color: #c7c6c6;

  --background-primary: #18181A;
  --cursor-background: radial-gradient(circle closest-side, rgb(43, 41, 41), transparent 80%);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'IBM Plex Mono', 'Montserrat Variable', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}


.main-container {
  min-height: 100vh;
  background-color: var(--background-primary);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}