:root {
  --nav-bg: #FFFFFF;

  --text-primary: #18181A;
  --text-logo-primary: #D81E5B;

  --switch-bg: #D81E5B;
  --swtich-circle: #FFFFFF;
}

* {
  font-family: "Montserrat Variable", Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.dark-mode {
  --nav-bg: #1A1A1F;

  --text-primary: #FFFFFF;
  --text-logo-primary: #D81E5B;

  --switch-bg: #D81E5B;
  --swtich-circle: #1A1A1F;
}